@model MichalZawadzkiLibrus.Models.GroupSet

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm("Edit", "Group", FormMethod.Post))
{
    @Html.ValidationSummary()
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Teacher_Id)
    <div class="form-part row">
        @Html.Label("Name:") <br />
        @Html.TextBoxFor(x => x.Name, new { @class = "input-field" })
    </div>
    <div class="form-part row">
        @Html.Label("Place:") <br />
        @Html.TextBoxFor(x => x.Place, new { @class = "input-field" })
    </div>
    <div class="form-part row">
        @Html.Label("Term:") <br />
        @Html.TextBoxFor(x => x.Term, new { @class = "input-field" })
    </div>

    <div class="row">
        <button type="submit" class="waves-effect waves-light btn btn-large right">Edytuj</button>
    </div>
}