@model MichalZawadzkiLibrus.Models.StudentSet

@{
    ViewBag.Title = "Add";
}

@using (Html.BeginForm("Add", "StudentManage", FormMethod.Post))
{
    @Html.ValidationSummary()
    @Html.HiddenFor(model => model.Group_Id)
    <div class="form-part row">
        @Html.Label("*Login:") <br/>
        @Html.TextBoxFor(x => x.Login, new {@class = "input-field"})
    </div>
    <div class="form-part row">
        @Html.Label("*Password:") <br />
        @Html.TextBoxFor(x => x.Password, new { @class = "input-field" })
    </div>
    <div class="form-part row">
        @Html.Label("Name:") <br />
        @Html.TextBoxFor(x => x.Name, new { @class = "input-field" })
    </div>
    <div class="form-part row">
        @Html.Label("Surname:") <br/>
        @Html.TextBoxFor(x => x.Surname, new {@class = "input-field"})
    </div>
    <div class="form-part row">
        @Html.Label("Email:") <br />
        @Html.TextBoxFor(x => x.Email, new { @class = "input-field" })
    </div>
    <div class="row">
        <button type="submit" class="waves-effect waves-light btn btn-large right">Dodaj</button>
    </div>
}
